.calculator {
    text-align: center;
    margin-top: 100px;
  }
  
  input {
    padding: 5px;
    margin: 5px;
  }
  
  .buttons {
    margin-top: 10px;
  }
  
  button {
    margin: 5px;
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
  }
  
  h1 {
    font-size: 24px;
  }
  
  h2 {
    font-size: 20px;
    margin-top: 10px;
  }